---
import Layout from '../../layouts/Layout.astro';
import { ouvragesList } from '../../data/siteData';
import BookDetailCard from '../../components/BookDetailCard.astro';

const ouvrageDisplayed = ouvragesList.find((ouvrage) => ouvrage.slug === "imagine")
---

<Layout title={ouvrageDisplayed.title}>
    <main class="flex-grow-1">
      <section class="detail-card-section row align-items-center">
        <BookDetailCard title={ouvrageDisplayed.title} image={ouvrageDisplayed.image} summary={ouvrageDisplayed.summary} marketplaceLink={ouvrageDisplayed.marketplaceLink}/>
      </section>
    </main>
</Layout>